@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('../fonts/source-sans/WOFF2/VAR/SourceSans3VF-Roman.ttf.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 200 900;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url('../fonts/source-sans/WOFF2/VAR/SourceSans3VF-Italic.ttf.woff2') format('woff2');
}

@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: bold;
	font-stretch: normal;
    font-display: swap;
	src: url('../fonts/iranyekan/eot/IRANYekanWebBold.eot');
	src: url('../fonts/iranyekan/eot/IRANYekanWebBold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/IRANYekanWebBold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/ttf/IRANYekanWebBold.ttf') format('truetype');
}


@font-face {
	font-family: 'iranyekan';
	font-style: normal;
	font-weight: 200 900;
	font-stretch: normal;
    font-display: swap;
	src: url('../fonts/iranyekan/eot/IRANYekanWebRegular.eot');
	src: url('../fonts/iranyekan/eot/IRANYekanWebRegular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/iranyekan/woff/IRANYekanWebRegular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/iranyekan/ttf/IRANYekanWebRegular.ttf') format('truetype');
}



